@charset 'utf-8';

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:active {
  color: #777;
}
/* reset end */

.contain {
  width: 1000px;
  background: #e8e8e8;
  display: flex;
}
.hd {
  width: 200px;
  position: relative;
  z-index: 100;
}
.hd .logo {
  width: 200px;
  height: 80px;
  position: relative;
}
.logo a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav ul > li > a {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.nav ul > li > a:hover {
  background: #eee;
}

.nav ul > li {
  position: relative;
}

.nav ul > li > ul {
  display: none;
  background: #ddd;
  /* c-3,4 라면 주석 해제 */
  /* position: absolute;
  left: 200px;
  top: -40px;
  width: 200px; */
}

.main {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.contents {
  background: #e1e1e1;
  height: 200px;
}
.ft {
  background: #ddd;
  height: 100px;
  display: flex;
}
.ft .logo {
  width: 150px;
  background: #ccc;
}
.ft .ft_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ft_menu,
.ft_copy {
  background: #bbb;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ft_menu {
  justify-content: flex-start;
}
.row {
  display: flex;
}
.row .col:nth-child(1) {
  background: #e8e8e8;
  padding: 10px;
  background: #e7e7e7;
}
.col {
  flex: 1;
}

.col:nth-child(2) {
  background: center/cover url("https://picsum.photos/200/300") no-repeat;
}
.col:nth-child(3) {
  background: center/cover url("../image/dog.jpg") no-repeat;
}

.tab_wrap {
  width: 260px;
}
.tab_btns {
  height: 40px;
  display: flex;
  background: #e7e7e7;
}
.tab_btns .noticeBtn {
  background: #fff;
}
.tab_btns a {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* 탭 */
.tab_contents {
  background: #fff;
  padding: 10px;
}
.tab_contents .boards > p {
  line-height: 2;
  display: flex;
}
.tab_contents .boards > p > a {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  flex: 0.8;
}
.tab_contents .boards > p > span {
  flex: 0.2;
  text-align: right;
}

.gallerys {
  height: 114px;
  gap: 8px;
  display: flex;
  display: none;
}
.gallery {
  flex: 1;
  position: relative;
  display: flex;
  height: 90px;
  overflow: hidden;
}
.gallery > a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.gallery > img {
  flex: 1;
  position: absolute;
  object-fit: cover;
  height: 100%;
}
.gallery:nth-child(1) {
  background: center/cover url("../image/dog.jpg") no-repeat;
  height: 100%;
}
.gallery:nth-child(2) {
  background: center/cover url("https://picsum.photos/200/300") no-repeat;
  height: 100%;
}
.gallery:nth-child(3) {
  background: center/cover url("https://picsum.photos/seed/picsum/200/300")
    no-repeat;
  height: 100%;
}

/* popup start */
.pop_wrap {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  /* B유형일 경우 start */
  /* background: rgba(0, 0, 0, 0.3); */
  /* B유형일 경우 End */
}
.pop_contain {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  z-index: 2;
}
.pop_wrap::after {
  content: "1";
  position: fixed;
  top: 0;
}

.pop_hd {
  border-bottom: 1px solid #ddd;
}

.btn_wrap {
  border-top: 1px solid #ddd;
}
.pop_hd,
.btn_wrap > p,
.btn_wrap {
  padding: 16px;
  text-align: center;
}
.btn_wrap > button {
  height: 40px;
  width: 90px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.pop_contain > p {
  padding: 0 40px;
}
/* popup End */
/* 레이어팝업 백그라운드 유형일 경우 on 아니면 off */
.pop_wrap::after {
  content: "1";
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.2;
}
/* 레이어팝업 백그라운드 유형일 경우 End */

.pop_hd {
  border-bottom: 1px solid #ddd;
}

.btn_wrap {
  border-top: 1px solid #ddd;
}
.pop_hd,
.btn_wrap > p,
.btn_wrap {
  padding: 16px;
  text-align: center;
}
.btn_wrap > button {
  height: 40px;
  width: 90px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.pop_contain > p {
  padding: 0 40px;
}
/* popup End */

/* 슬라이더 start */

.slider_wrap {
  overflow: hidden;
  width: 800px;
  height: 350px;
  position: relative;
}
.slider {
  /* ↓↓↓↓ 가로슬라이드일 경우 off 그렇지않으면 on  start*/
  /* width: 300%; */
  /* ↑↑↑↑ 가로슬라이드일 경우 off 그렇지않으면 on  End*/

  /* ↓↓↓↓ 세로슬라이드일 경우 on 그렇지않으면 off Start */
  /* width: 1200px; */
  /* ↑↑↑↑ 세로슬라이드일 경우 on 그렇지않으면 off End */

  background: #ddd;
  overflow: hidden;
}
.slider > .img_wrap {
  height: 350px;
  width: 800px;
  float: left;
  position: relative;
}
.slider > .img_wrap > img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  position: absolute;
  object-fit: cover;
  /* ↓↓↓↓ 가로슬라이들일 경우 start */
  /* top: 50%;
  transform: translateY(-50%); */
  /* ↑↑↑↑ 가로슬라이들일 경우 End */
}

/* 슬라이더 End */
