@charset 'utf-8';
/* reset start */
:root {
  --main: dodgerblue;
  --sub: green;
}
body {
  background: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4 {
  color: #333;
}
a:link,
a:active {
  color: #777;
}
/* reset end */

html,
body,
.wrapper {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.ft {
  height: 120px;
}

.wrap_inner {
  /* 임의지정일경우 flex:1 주석처리 */
  /* flex: 1; */
  display: flex;
}

.main {
  display: flex;
}
.hd {
  width: 200px;
  background: #eee;
}
/* 메뉴영역*/
.hd {
  width: 200px;
  position: relative;
  z-index: 100;
}
.hd .logo {
  width: 200px;
  height: 80px;
  position: relative;
}
.logo a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav ul > li > a {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.nav ul > li > a:hover {
  background: #eee;
}

.nav ul > li {
  position: relative;
}

.nav ul > li > ul {
  display: none;
  background: #ddd;
  /* E-1,2 라면 주석 처리고, E-3,E-라면 주석해제 */
  /* position: absolute;
  left: 200px;
  top: -40px;
  width: 200px; */
}
.spot {
  text-align: center;
  margin-top: 20px;
}
.spot a {
  padding: 0 5px;
  color: var(--sub);
}

/* 컨텐트영역 */
.aside_b a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.aside_b {
  position: relative;
  height: 100px;
  background: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.aside_b > img:first-child {
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.aside_desc_b h1 {
  color: var(--sub);
}
.aside_desc_b {
  padding: 14px;
}
.aside_arr_wrap_b {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.aside_arr_wrap_b > img {
  width: 40px;
}
.aside a {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}

/* 공지사항/갤러리 */
.content {
  width: 400px;
}
.sec_bottom {
}
.sec_bottom article {
  background: #fff;
  flex: 1;
}
.ft {
  height: 100px;
}
.tab_inner {
  background: #e7e7e7;
  height: 200px;
}
.tab_btn {
  display: flex;
  /* gap: 8px; */
  padding: 16px 16px 0;
}
.tab_btn > a {
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tab_btn > a:last-child {
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #e7e7e7;
}
.tab_contents {
  padding: 0 16px;
  background: #fff;
  height: 144px;
}
.tab_contents .boards > p {
  line-height: 2;
  display: flex;
}
.tab_contents .boards > p > a {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  flex: 0.8;
}
.tab_contents .boards > p > span {
  flex: 0.2;
  text-align: right;
}
.gallery_area {
  flex: 1;
  position: relative;
}

.notice_area h2,
.gallery_area h2 {
  font-size: 20px;
  padding: 14px;
  color: var(--main);
}
.gallerys_wrap {
  display: flex;
  width: 100%;
  gap: 14px;
  padding: 0 14px;
}
.gallerys {
  flex: 1;
  position: relative;
}
.gallerys > h3 {
  padding: 14px;
}
.gallerys > a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.gallery {
  background: center/cover url("../image/dog.jpg") no-repeat;
  width: 100%;
  height: 100px;
}

/* 바로가기 썸네일 */
.shortcuts {
  width: 100%;
  height: 150px;
  display: flex;
  gap: 14px;
  padding: 14px;
  display: flex;
}
.shortcut {
  flex: 1;
  position: relative;
}
.shortcut > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.shortcut_img {
  background: center/cover url("../image/dog.jpg");
  height: 100px;
}

.ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo {
  min-width: 200px;
  height: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.family {
  min-width: 230px;
  background: #eee;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.family select {
  height: 30px;
  width: 140px;
}
.co_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 700px;
}

.co_info h4 span {
  margin: 0 10px;
}
/* popup start */
.pop_wrap {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  /* B유형일 경우 start */
  background: rgba(0, 0, 0, 0.3);
  /* B유형일 경우 End */
}
.pop_contain {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.pop_wrap::after {
  content: "1";
  position: fixed;
  top: 0;
}

.pop_hd {
  border-bottom: 1px solid #ddd;
}

.btn_wrap {
  border-top: 1px solid #ddd;
}
.pop_hd,
.btn_wrap > p,
.btn_wrap {
  padding: 16px;
  text-align: center;
}
.btn_wrap > button {
  height: 40px;
  width: 90px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.pop_contain > p {
  padding: 0 40px;
}
/* popup End */

/* 슬라이더 start */
.slider_wrap {
  overflow: hidden;
  width: calc(100vw - 600px);
  height: calc(100vh - 100px);
  /* 임의지정일경우 높이값 지정 */
  /* height: 750px; */
}
.slider {
  /* 유형 별  100% or 300% */
  width: 100%;
  overflow: hidden;
}
.slider > .img_wrap {
  width: calc(100vw - 600px);
  height: calc(100vh);
  float: left;
  position: relative;
}

.slider > .img_wrap img {
  width: 100%;
  height: calc(100vh);
  object-fit: cover;
  position: absolute;
}
/* 추가 */
.img_tit {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 50%;
}

.img_tit h1,
.img_tit p {
  color: white;
}

.img_tit h1 {
  font-size: 48px;
}
.img_tit p {
  font-size: 20px;
}

/* 슬라이더 End */
