@charset 'utf-8';
/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:active {
  color: #777;
}
/* reset end */

.top_wrap {
  display: flex;
}
.wrap {
  background: #e7e7e7;
}
/* 헤더  start */
.hd {
  width: 200px;
  position: relative;
  z-index: 100;
}
.hd .logo {
  width: 200px;
  height: 80px;
  position: relative;
}
.logo a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.nav ul > li > a {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.nav ul > li > a:hover {
  background: #eee;
}

.nav ul {
  position: relative;
}

/* D-1,2 */
.nav ul > li > ul {
  display: none;
  background: #ddd;
}
/* D-3,4 일경우 주석 해제 */
.nav ul > li > div {
  /* display: none;
  background: #ddd;
  position: absolute;
  left: 200px;
  top: 0;
  width: 100vw;
  border: 1px solid red; */
}
.nav ul > li > div > ul {
  float: left;
}
/* popup start */
.pop_wrap {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  /* 배경처리가 어둡게될 경우 start */
  /* background: rgba(0, 0, 0, 0.3); */
  /* 배경처리가 어둡게될 경우 End */
}
.pop_contain {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  z-index: 2;
}
.pop_wrap::after {
  content: "1";
  position: fixed;
  top: 0;
}

.pop_hd {
  border-bottom: 1px solid #ddd;
}

.btn_wrap {
  border-top: 1px solid #ddd;
}
.pop_hd,
.btn_wrap > p,
.btn_wrap {
  padding: 16px;
  text-align: center;
}
.btn_wrap > button {
  height: 40px;
  width: 90px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.pop_contain > p {
  padding: 0 40px;
}
/* popup End */
/* 헤더  End */
.main {
  width: 100%;
  height: 650px;
  background: #e7e7e7;
}
.sec_top {
  height: 400px;
  background: #e7e7e7;
  display: flex;
}

/*  D-2 유형 배너 세로형 Start */
.aside {
  width: 230px;
  height: 400px;
  background: #e7e7e7;
}
.aside > img:first-child {
  width: 230px;
  height: 200px;
  object-fit: cover;
}
.aside_desc {
  padding: 14px;
}
.aside_arr_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.aside_arr_wrap > img {
  width: 40px;
}
.aside a {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}
/*  D-2 유형 배너 세로형 End */
/*  D-1 유형 배너 가로형 Start */
.aside_b {
  height: 200px;
  background: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.aside_b > img:first-child {
  width: 230px;
  height: 200px;
  object-fit: cover;
}
.aside_desc_b {
  padding: 14px;
}
.aside_arr_wrap_b {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.aside_arr_wrap_b > img {
  width: 40px;
}
.aside a {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}
/*  D-1 유형 배너 가로형 End */
.sec_bottom {
  height: 250px;
  display: flex;
}
.sec_bottom article {
  background: #fff;
  height: 250px;
  flex: 1;
}
.ft {
  height: 100px;
}
.tab_inner {
  background: #e7e7e7;
  height: 200px;
}
.tab_btn {
  display: flex;
  /* gap: 8px; */
  padding: 16px 16px 0;
}
.tab_btn > a {
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tab_btn > a:last-child {
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #e7e7e7;
}
.tab_contents {
  padding: 16px;
  background: #fff;
  height: 144px;
}
.tab_contents .boards > p {
  line-height: 2;
  display: flex;
}
.tab_contents .boards > p > a {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  flex: 0.8;
}
.tab_contents .boards > p > span {
  flex: 0.2;
  text-align: right;
}
.gallery_area {
  flex: 1;
  position: relative;
}
.notice_area h2,
.gallery_area h2 {
  font-size: 20px;
  padding: 14px;
}
.gallerys_wrap {
  display: flex;
  width: 100%;
  gap: 14px;
}
.gallerys {
  flex: 1;
  position: relative;
}
.gallerys > h3 {
  padding: 14px;
}
.gallerys > a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.gallery {
  background: center/cover url("../image/dog.jpg") no-repeat;
  width: 100%;
  height: 134px;
}
.ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo {
  min-width: 200px;
  height: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.family {
  min-width: 230px;
  background: #eee;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.family select {
  height: 30px;
  width: 140px;
}
.co_info {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  flex: 0.8;
}

.shortcuts {
  width: 100%;
  height: 150px;
  display: flex;
  gap: 14px;
  padding: 14px;
}
.shortcut {
  flex: 1;
  position: relative;
}
.shortcut > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.shortcut_img {
  background: center/cover url("../image/dog.jpg");
  height: 100px;
}

/* 슬라이더 start */
.slider_wrap {
  overflow: hidden;
  width: calc(100vw - 430px);
  height: 400px;
}
.slider {
  /* 가로 */
  width: 300%;
  /* 세로 */
  width: 100%;
}
.slider > .img_wrap {
  width: calc(100vw - 430px);
  height: 400px;
  float: left;
  position: relative;
}

.slider > .img_wrap img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
}
/* 슬라이더 End */
