@charset 'utf-8';

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:active {
  color: #777;
}
/* reset end */

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.wrap > .hd {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  background: #eee;
  position: relative;
  z-index: 100;
}

/* B 유형 경우 start */
.wrap::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: #eee;
}
/* B 유형 경우 End */

.logo {
  position: relative;
  z-index: 100;
  padding: 0 16px;
  overflow: hidden;
  height: 100px;
  width: 100px;
}
.logo > a {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 70px;
}
.wrap > .hd > .nav {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  /* B유형일 경우 start */
  width: 100%;
  background: #eee;
  /* B유형일 경우 End */
}
.wrap > .hd > .nav > ul {
  display: flex;
}
.wrap > .hd > .nav > ul > li {
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.wrap > .hd > .nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.wrap > .hd > .nav > ul > li > ul:hover {
  background: #e7e7e7;
  transition: 0.3s ease;
}
.wrap > .hd > .nav > ul > li > ul {
  background: #eee;
  width: 100px;
  display: flex;
  flex-direction: column;
  display: none;
  position: relative;
}

.wrap > .hd > .nav > ul > li > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: 0.3s ease;
}

.wrap > .hd > .nav > ul > li > ul > li:hover {
  background: #ddd;
}

/* 슬라이더 start */
.slider_wrap {
  overflow: hidden;
  width: 1200px;
  height: 300px;
  position: relative;
}
.slider {
  /* ↓↓↓↓ 가로슬라이드일 경우 off 그렇지않으면 on  */
  /* width: 300%; */
  /* ↓↓↓↓ 세로슬라이드일 경우 on 그렇지않으면 off  */
  width: 1200px;
  background: #ddd;
}
.slider > .img_wrap {
  /* height: 300px; */
  width: 1200px;
  float: left;
  position: relative;
}
.slider > .img_wrap > img {
  width: 100%;
  position: absolute;
  /* ↓↓↓↓ 가로슬라이들일 경우 start */
  top: 50%;
  transform: translateY(-50%);
  /* ↑↑↑↑ 가로슬라이들일 경우 End */
}

/* 슬라이더 End */

/* 3컬럼 컨텐트 start */
.contents {
  width: 1200px;
  display: flex;
  clear: both;
}
.contents .content {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.contents .content img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
}
.content > a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* 3컬럼 컨텐트 end */

.fts {
  background: #eee;
  margin: 0 auto;
}
.fts .ft {
  height: 100px;
}
.ft:nth-child(1) {
  flex: 0.2;
}
.ft:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ft:nth-child(3) {
  flex: 0.2;
}
.ft {
  display: flex;
  justify-content: center;
}
.fts_wrap {
  width: 100%;
  /* B 유형 시 start */
  background: #eee;
  /* B 유형 시 End */
}

/* B유형이 아닐경우 없어도됨 start */
.ft::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: #eee;
}
/* B유형이 아닐경우 없어도됨 End*/

.ft .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
.shortcut_wrap {
  background: center/cover url("../image/dog.jpg") no-repeat;
}
.shortcut_wrap .shortcut {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  cursor: pointer;
  background: white;
  border: none;
  opacity: 0.5;
}

/* 탭컨텐트 */
.tab_inner {
  background: #e7e7e7;
  height: 200px;
}
.tab_btn {
  display: flex;
  /* gap: 8px; */
  padding: 16px 16px 0;
}
.tab_btn > a {
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tab_btn > a:last-child {
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #e7e7e7;
}
.tab_contents {
  padding: 16px;
  background: #fff;
  height: 144px;
}

.tab_contents .boards > p {
  line-height: 2;
  display: flex;
}
.tab_contents .boards > p > a {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  flex: 0.8;
}
.tab_contents .boards > p > span {
  flex: 0.2;
  text-align: right;
}
.gallerys {
  height: 114px;
  overflow: hidden;
  gap: 14px;
  display: none;
}
.gallery {
  flex: 1;
  position: relative;
  display: flex;
}
.gallery > a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.gallery > img {
  flex: 1;
  position: absolute;
  object-fit: cover;
  height: 100%;
}

/* popup start */
.pop_wrap {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  /* B유형일 경우 start */
  /* background: rgba(0, 0, 0, 0.3); */
  /* B유형일 경우 End */
}
.pop_contain {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.pop_wrap::after {
  content: "1";
  position: fixed;
  top: 0;
}

.pop_hd {
  border-bottom: 1px solid #ddd;
}

.btn_wrap {
  border-top: 1px solid #ddd;
}
.pop_hd,
.btn_wrap > p,
.btn_wrap {
  padding: 16px;
  text-align: center;
}
.btn_wrap > button {
  height: 40px;
  width: 90px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.pop_contain > p {
  padding: 0 40px;
}
/* popup End */
